* {
	font-size: 18px;
	font-family: Meslo LGS Nerd Font;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#wireplumber,
#custom-spotify-player,
#network,
#memory,
#cpu,
#temperature,
#battery,
#disk,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.active {
	color: #4EEAEC;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#wireplumber {
	color: #4EEAEC;
}
#memory {
	color: #4EEAEC;
}
#cpu {
	color: #4EEAEC;
}
#temperature {
    color: #4EEAEC;
}
#battery {
	color: #4EEAEC;
}
#network {
	color: #4EEAEC;
}
#custom-spotify-player {
    color: #4EEAEC;
}

#clock,
#wireplumber,
#memory,
#network,
#cpu,
#temperature,
#battery,
#custom-spotify-player,
#disk {
	padding: 0 10px;
}
